.environment-container {
  width: 100%;
}

.environment {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EEE;
  color: #333;
  text-align: center;
  width: 100%;
}
.environment p {
  margin: 8px;
  font-size: 14px;
}

.environment.local {
  background: green;
  color: #FFF;
}

.environment.staging {
  background: orange;
  color: #444;
}

body {
  margin-top: 20px;
}

#top, #footer {
  padding: 2rem;
}

#top {
  background: #3c8dbc;
  padding: 2rem;
}

#app {
  background: #EEE;
  padding: 0;
}

#logo {
  font-size: 1.8rem;
  color: #FFF;
}

#footer {
  background: #3c8dbc;
  color: #FFF;
  text-align: center;
}
